<!DOCTYPE html>
<html lang="br" ng-app="mapApp">
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="scripts/app.js"></script>
		<!-- <link rel="stylesheet" href="css/leaflet.css" /> -->
		<link rel="stylesheet" href="css/map.css" />
		<!-- <script src="scripts/leaflet.js"></script> -->

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	 	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

	 	<!-- DrawingTools Include -->
		<script src="libs/leaflet-src.js"></script>
	    <link rel="stylesheet" href="libs/leaflet.css"/>

	    <script src="node_modules/leaflet-draw/src/Leaflet.draw.js"></script>
	    <script src="node_modules/leaflet-draw/src/Leaflet.Draw.Event.js"></script>
	    <link rel="stylesheet" href="node_modules/leaflet-draw/src/leaflet.draw.css"/>

	    <script src="node_modules/leaflet-draw/src/Toolbar.js"></script>
	    <script src="node_modules/leaflet-draw/src/Tooltip.js"></script>

	    <script src="node_modules/leaflet-draw/src/ext/GeometryUtil.js"></script>
	    <script src="node_modules/leaflet-draw/src/ext/LatLngUtil.js"></script>
	    <script src="node_modules/leaflet-draw/src/ext/LineUtil.Intersect.js"></script>
	    <script src="node_modules/leaflet-draw/src/ext/Polygon.Intersect.js"></script>
	    <script src="node_modules/leaflet-draw/src/ext/Polyline.Intersect.js"></script>
	    <script src="node_modules/leaflet-draw/src/ext/TouchEvents.js"></script>

	    <script src="node_modules/leaflet-draw/src/draw/DrawToolbar.js"></script>
	    <script src="node_modules/leaflet-draw/src/draw/handler/Draw.Feature.js"></script>
	    <script src="node_modules/leaflet-draw/src/draw/handler/Draw.SimpleShape.js"></script>
	    <script src="node_modules/leaflet-draw/src/draw/handler/Draw.Polyline.js"></script>
	    <script src="node_modules/leaflet-draw/src/draw/handler/Draw.Circle.js"></script>
	    <script src="node_modules/leaflet-draw/src/draw/handler/Draw.Marker.js"></script>
	    <script src="node_modules/leaflet-draw/src/draw/handler/Draw.Polygon.js"></script>
	    <script src="node_modules/leaflet-draw/src/draw/handler/Draw.Rectangle.js"></script>


	    <script src="node_modules/leaflet-draw/src/edit/EditToolbar.js"></script>
	    <script src="node_modules/leaflet-draw/src/edit/handler/EditToolbar.Edit.js"></script>
	    <script src="node_modules/leaflet-draw/src/edit/handler/EditToolbar.Delete.js"></script>

	    <script src="node_modules/leaflet-draw/src/Control.Draw.js"></script>

	    <script src="node_modules/leaflet-draw/src/edit/handler/Edit.Poly.js"></script>
	    <script src="node_modules/leaflet-draw/src/edit/handler/Edit.SimpleShape.js"></script>
	    <script src="node_modules/leaflet-draw/src/edit/handler/Edit.Circle.js"></script>
	    <script src="node_modules/leaflet-draw/src/edit/handler/Edit.Rectangle.js"></script>
	    <script src="node_modules/leaflet-draw/src/edit/handler/Edit.Marker.js"></script> 	

	    <script src="libs/leaflet.snap.js"></script>
    	<script src="libs/leaflet.geometryutil.js"></script>
    	<script src="scripts/banco/temperaturesData.js"></script>
		<script src="scripts/banco/cities/passoFundo.js"></script>
		<script src="scripts/banco/states/rioGrandeDoSul.js"></script>
		<script src="scripts/banco/countries/brazil.js"></script>
		

		<script src="scripts/controllers/map.js"></script>
		
	</head>
	<body ng-controller="mapController">
		<div style="width: 1020px;">
			<div id="mapid" style="width: 800px;float: left;">

			</div>
			<div style="width: 5px;">
			</div>
			<div style="width: 200px; float:right;">
				<button  ng-click="generateTemperaturesSouthAmerica(1,1)">Temperatura</button><br>
				<button ng-click="cleanMap()">Limpar</button><br>
				<button ng-click="generateBR()"> BR </button><br>
				<button ng-click="generateTemperaturesBR()"> BRT </button><br>
				<button ng-click="generateRS()"> RS </button><br>
				<button ng-click="generateTemperaturesRS()"> RST </button><br>
				<button ng-click="generatePF()"> PF </button><br>
				<button ng-click="generateTemperaturesPF()"> PFT </button><br>
			</div>
		</div>
	</body>
</html>